[Unit]
Description=NXDN Parrot Service
# Description=Place this file in /lib/systemd/system
# Description=N4IRS 04/20/2018

After=netcheck.service
Requires=netcheck.service

[Service]
Type=simple
Restart=always
RestartSec=3
StandardOutput=null
WorkingDirectory=/opt/NXDNParrot
ExecStart=/opt/NXDNParrot/NXDNParrot 42021 
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
